.container {
  padding: 27rpx 20rpx;
  width: 100%;

  .phone {
    font-size: 30rpx;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(98, 98, 98, 1);
  }
}

.content {
  width: 100%;

  .input-placeholder {

    font-size: 30rpx;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(176, 176, 176, 1);
  }

  input {
    font-size: 30rpx;
    padding-left: 24rpx;
    height: 88rpx;
    background: rgba(255, 255, 255, 1);
    border: 1rpx solid rgba(228, 228, 228, 1);
    border-radius: 10rpx;
    margin-bottom: 21rpx;
  }
}

.types {
  margin-top: 45rpx;

  .typesTitle {
    font-size: 30rpx;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(98, 98, 98, 1);
  }

  .typesContent {
    margin-top: 26rpx;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .typesContentItem {
      width: 141rpx;
      height: 53rpx;
      border: 1rpx solid rgba(195, 195, 195, 1);
      border-radius: 10rpx;
      font-size: 30rpx;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: #626262;
      margin-right: 27rpx;
    }

    .last {
      width: 180rpx;
    }

    .active {
      background-color: #39C6A1;
      color: #FFFFFF;
    }

    input {
      padding-left: 14rpx;
      flex: 1;
      height: 53rpx;
      border: 1rpx solid rgba(195, 195, 195, 1);
      border-radius: 10rpx;
      font-size: 26rpx;
    }

    .input-placeholder {
      width: 241rpx;
      height: 25rpx;
      font-size: 26rpx;
      font-family: PingFang-SC-Regular;
      font-weight: 400;
      color: rgba(179, 179, 179, 1);
    }
  }
}

.select {
  margin-bottom: 40rpx;

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 28rpx;

    .t1 {
      font-size: 30rpx;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: rgba(98, 98, 98, 1);
    }

    .t2 {
      font-size: 30rpx;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: rgba(14, 174, 132, 1);
    }
  }

  .content {
    float: 1;
    overflow: hidden;
    height: 88rpx;
    background: rgba(255, 255, 255, 1);
    border: 1rpx solid rgba(228, 228, 228, 1);
    border-radius: 10rpx;
    font-size: 30rpx;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(176, 176, 176, 1);
    padding-left: 24rpx;
    display: flex;
    align-items: center;
  }
}

.inp {
  margin-top: 45rpx;
  padding-left: 24rpx;
  width: 100%;
  height: 88rpx;
  background: rgba(255, 255, 255, 1);
  border: 1rpx solid rgba(228, 228, 228, 1);
  border-radius: 10rpx;
  box-sizing: border-box;
}

.input-placeholders {
  font-size: 30rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(176, 176, 176, 1);
}

.imgUrl {
  margin-top: 69rpx;
  display: flex;
  // justify-content: ;
  align-items: center;
  flex-wrap: wrap;

  .imgUrlItem {
    // flex: 1;
    position: relative;
    width: 148rpx;
    height: 148rpx;
    margin-right: 16rpx;
    margin-bottom: 15rpx;

    image {
      width: 100%;
      height: 100%;
    }

    .del {
      position: absolute;
      right: 0;
      top: 0;

      image {
        width: 39rpx;
        height: 39rpx;
      }
    }
  }

  .add {
    width: 148rpx;
    height: 148rpx;
    position: relative;
    margin-right: 16rpx;
    margin-bottom: 15rpx;

    image {
      width: 100%;
      height: 100%;
    }

    view {
      position: absolute;
      width: 100%;
      bottom: 23rpx;
      font-size: 24rpx;
      font-family: PingFang-SC-Regular;
      font-weight: 400;
      color: rgba(168, 168, 168, 1);
    }
  }
}

.btn {
  margin: 83rpx auto;
  width: 626rpx;
  height: 84rpx;
  background: linear-gradient(-90deg, rgba(56, 198, 160, 1) 0%, rgba(109, 224, 195, 1) 100%);
  border-radius: 42rpx;
  font-size: 36rpx;
  font-family: PingFang-SC-Regular;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

van-popup {
  .van-popup {

    border-radius: 10rpx 10rpx 0 0
  }
}

.box {
  
  overflow: hidden;
  .title {
    width: 100%;
    height: 100rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 274rpx;



    .dian {
      width: 10rpx;
      height: 10rpx;
      border-radius: 50rpx;
      overflow: hidden;
      background-color: #A5EBD8;
    }

    .name {
      font-size: 30rpx;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: rgba(56, 198, 160, 1);
    }
  }

  .content {
    .item {
      border-top: 1rpx solid #E4E4E4;
      width: 100%;
      height: 100rpx;
      padding-left: 30rpx;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 30rpx;
      font-family: PingFang-SC-Regular;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
    }

    .contentTop {
      border-top: 1rpx solid #E4E4E4;
      width: 100%;
      height: 803rpx;
      display: flex;

      .left {
        width: 200rpx;

        .items {
          width: 100%;
          padding-left: 40rpx;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: 30rpx;
          font-family: PingFang-SC-Medium;
          font-weight: 500;
          color: rgba(51, 51, 51, 1);
        }

        .leftItem {
          padding-top: 25rpx;
          padding-bottom: 25rpx;
          padding-left: 0;

          .active {
            border-right: 4rpx solid #38C6A0;
            font-size: 30rpx;
            font-family: PingFang-SC-Bold;
            font-weight: bold;
            color: rgba(56, 198, 160, 1);
          }
        }
      }

      .rightTop {
        flex: 1;
        height: 555rpx;
        border-bottom: 1rpx solid #E4E4E4;

        .right {
          flex: 1;
          overflow: hidden;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;


          .rightItem {
            width: 200rpx;
            height: 50rpx;
            border: 1rpx solid rgba(153, 153, 153, 1);
            border-radius: 10rpx;
            font-size: 30rpx;
            font-family: PingFang-SC-Medium;
            font-weight: 500;
            color: rgba(153, 153, 153, 1);
            position: relative;
            margin-bottom: 20rpx;

            .yes {
              font-size: 15rpx;
              color: #fff;
              position: absolute;
              right: 0;
              bottom: 0;
              width: 48rpx;
              height: 20rpx;
              background: rgba(56, 198, 160, 1);
              border-radius: 10rpx 0rpx 10rpx 0rpx;
            }
          }

          .active {
            color: rgba(56, 198, 160, 1);
            border: 1rpx solid rgba(56, 198, 160, 1);
          }
        }
      }

      .rightBottom {
        padding-bottom: 16rpx;

        .titles {
          margin-left: -15rpx;
          font-size: 30rpx;
          font-family: PingFang-SC-Medium;
          font-weight: 500;
          color: rgba(56, 198, 160, 1);
        }

        .contents {
          padding-top: 30rpx;

          .rightItem {
            width: 200rpx;
            height: 50rpx;
            border: 1rpx solid rgba(56, 198, 160, 1);
            border-radius: 10rpx;
            font-size: 30rpx;
            font-family: PingFang-SC-Medium;
            font-weight: 500;
            color: rgba(56, 198, 160, 1);
            position: relative;
            margin-bottom: 20rpx;

            .yes {
              font-size: 15rpx;
              color: #fff;
              position: absolute;
              right: 0;
              bottom: 0;
              width: 48rpx;
              height: 20rpx;
              background: #FF8D8D;
              border-radius: 10rpx 0rpx 10rpx 0rpx;
            }
          }
        }
      }

    }

    .contentBottom {
      width: 100%;
      height: 134rpx;
      border-top: 1rpx solid #E4E4E4;
      display: flex;
      align-items: center;

      .left {
        width: 200rpx;
        display: flex;
        justify-content: flex-end;

        .as {
          width: 170rpx;
          height: 84rpx;
          background: rgba(109, 224, 195, 1);
          border-radius: 42rpx 0rpx 0rpx 42rpx;
          overflow: hidden;
          font-size: 30rpx;
          font-family: PingFang-SC-Bold;
          font-weight: bold;
          color: rgba(255, 255, 255, 1);
        }
      }

      .right {
        margin-left: 10rpx;
        flex: 1;

        .btn {
          width: 521rpx;
          height: 84rpx;

          background: linear-gradient(-90deg, rgba(56, 198, 160, 1) 0%, rgba(109, 224, 195, 1) 100%);
          border-radius: 0rpx 42rpx 42rpx 0rpx;

          font-size: 30rpx;
          font-family: PingFang-SC-Bold;
          font-weight: bold;
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
}
