.container {
  padding: 27rpx 20rpx;
  width: 100%;
}
.container .phone {
  font-size: 30rpx;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #626262;
}
.content {
  width: 100%;
}
.content .input-placeholder {
  font-size: 30rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #b0b0b0;
}
.content input {
  font-size: 30rpx;
  padding-left: 24rpx;
  height: 88rpx;
  background: #ffffff;
  border: 1rpx solid #e4e4e4;
  border-radius: 10rpx;
  margin-bottom: 21rpx;
}
.types {
  margin-top: 45rpx;
}
.types .typesTitle {
  font-size: 30rpx;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #626262;
}
.types .typesContent {
  margin-top: 26rpx;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.types .typesContent .typesContentItem {
  width: 141rpx;
  height: 53rpx;
  border: 1rpx solid #c3c3c3;
  border-radius: 10rpx;
  font-size: 30rpx;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #626262;
  margin-right: 27rpx;
}
.types .typesContent .last {
  width: 180rpx;
}
.types .typesContent .active {
  background-color: #39C6A1;
  color: #FFFFFF;
}
.types .typesContent input {
  padding-left: 14rpx;
  flex: 1;
  height: 53rpx;
  border: 1rpx solid #c3c3c3;
  border-radius: 10rpx;
  font-size: 26rpx;
}
.types .typesContent .input-placeholder {
  width: 241rpx;
  height: 25rpx;
  font-size: 26rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #b3b3b3;
}
.select {
  margin-bottom: 40rpx;
}
.select .title {
  display: flex;
  align-items: center;
  margin-bottom: 28rpx;
}
.select .title .t1 {
  font-size: 30rpx;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #626262;
}
.select .title .t2 {
  font-size: 30rpx;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #0eae84;
}
.select .content {
  float: 1;
  overflow: hidden;
  height: 88rpx;
  background: #ffffff;
  border: 1rpx solid #e4e4e4;
  border-radius: 10rpx;
  font-size: 30rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #b0b0b0;
  padding-left: 24rpx;
  display: flex;
  align-items: center;
}
.inp {
  margin-top: 45rpx;
  padding-left: 24rpx;
  width: 100%;
  height: 88rpx;
  background: #ffffff;
  border: 1rpx solid #e4e4e4;
  border-radius: 10rpx;
  box-sizing: border-box;
}
.input-placeholders {
  font-size: 30rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #b0b0b0;
}
.imgUrl {
  margin-top: 69rpx;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.imgUrl .imgUrlItem {
  position: relative;
  width: 148rpx;
  height: 148rpx;
  margin-right: 16rpx;
  margin-bottom: 15rpx;
}
.imgUrl .imgUrlItem image {
  width: 100%;
  height: 100%;
}
.imgUrl .imgUrlItem .del {
  position: absolute;
  right: 0;
  top: 0;
}
.imgUrl .imgUrlItem .del image {
  width: 39rpx;
  height: 39rpx;
}
.imgUrl .add {
  width: 148rpx;
  height: 148rpx;
  position: relative;
  margin-right: 16rpx;
  margin-bottom: 15rpx;
}
.imgUrl .add image {
  width: 100%;
  height: 100%;
}
.imgUrl .add view {
  position: absolute;
  width: 100%;
  bottom: 23rpx;
  font-size: 24rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #a8a8a8;
}
.btn {
  margin: 83rpx auto;
  width: 626rpx;
  height: 84rpx;
  background: linear-gradient(-90deg, #38c6a0 0%, #6de0c3 100%);
  border-radius: 42rpx;
  font-size: 36rpx;
  font-family: PingFang-SC-Regular;
  font-weight: bold;
  color: #ffffff;
}
van-popup .van-popup {
  border-radius: 10rpx 10rpx 0 0;
}
.box {
  overflow: hidden;
}
.box .title {
  width: 100%;
  height: 100rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 274rpx;
}
.box .title .dian {
  width: 10rpx;
  height: 10rpx;
  border-radius: 50rpx;
  overflow: hidden;
  background-color: #A5EBD8;
}
.box .title .name {
  font-size: 30rpx;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #38c6a0;
}
.box .content .item {
  border-top: 1rpx solid #E4E4E4;
  width: 100%;
  height: 100rpx;
  padding-left: 30rpx;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #333333;
}
.box .content .contentTop {
  border-top: 1rpx solid #E4E4E4;
  width: 100%;
  height: 803rpx;
  display: flex;
}
.box .content .contentTop .left {
  width: 200rpx;
}
.box .content .contentTop .left .items {
  width: 100%;
  padding-left: 40rpx;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30rpx;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #333333;
}
.box .content .contentTop .left .leftItem {
  padding-top: 25rpx;
  padding-bottom: 25rpx;
  padding-left: 0;
}
.box .content .contentTop .left .leftItem .active {
  border-right: 4rpx solid #38C6A0;
  font-size: 30rpx;
  font-family: PingFang-SC-Bold;
  font-weight: bold;
  color: #38c6a0;
}
.box .content .contentTop .rightTop {
  flex: 1;
  height: 555rpx;
  border-bottom: 1rpx solid #E4E4E4;
}
.box .content .contentTop .rightTop .right {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box .content .contentTop .rightTop .right .rightItem {
  width: 200rpx;
  height: 50rpx;
  border: 1rpx solid #999999;
  border-radius: 10rpx;
  font-size: 30rpx;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #999999;
  position: relative;
  margin-bottom: 20rpx;
}
.box .content .contentTop .rightTop .right .rightItem .yes {
  font-size: 15rpx;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 48rpx;
  height: 20rpx;
  background: #38c6a0;
  border-radius: 10rpx 0rpx 10rpx 0rpx;
}
.box .content .contentTop .rightTop .right .active {
  color: #38c6a0;
  border: 1rpx solid #38c6a0;
}
.box .content .contentTop .rightBottom {
  padding-bottom: 16rpx;
}
.box .content .contentTop .rightBottom .titles {
  margin-left: -15rpx;
  font-size: 30rpx;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #38c6a0;
}
.box .content .contentTop .rightBottom .contents {
  padding-top: 30rpx;
}
.box .content .contentTop .rightBottom .contents .rightItem {
  width: 200rpx;
  height: 50rpx;
  border: 1rpx solid #38c6a0;
  border-radius: 10rpx;
  font-size: 30rpx;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #38c6a0;
  position: relative;
  margin-bottom: 20rpx;
}
.box .content .contentTop .rightBottom .contents .rightItem .yes {
  font-size: 15rpx;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 48rpx;
  height: 20rpx;
  background: #FF8D8D;
  border-radius: 10rpx 0rpx 10rpx 0rpx;
}
.box .content .contentBottom {
  width: 100%;
  height: 134rpx;
  border-top: 1rpx solid #E4E4E4;
  display: flex;
  align-items: center;
}
.box .content .contentBottom .left {
  width: 200rpx;
  display: flex;
  justify-content: flex-end;
}
.box .content .contentBottom .left .as {
  width: 170rpx;
  height: 84rpx;
  background: #6de0c3;
  border-radius: 42rpx 0rpx 0rpx 42rpx;
  overflow: hidden;
  font-size: 30rpx;
  font-family: PingFang-SC-Bold;
  font-weight: bold;
  color: #ffffff;
}
.box .content .contentBottom .right {
  margin-left: 10rpx;
  flex: 1;
}
.box .content .contentBottom .right .btn {
  width: 521rpx;
  height: 84rpx;
  background: linear-gradient(-90deg, #38c6a0 0%, #6de0c3 100%);
  border-radius: 0rpx 42rpx 42rpx 0rpx;
  font-size: 30rpx;
  font-family: PingFang-SC-Bold;
  font-weight: bold;
  color: #ffffff;
}
