.container{
  height: 100vh;
  overflow: hidden;
  background-color: #F7F8F8;
  .tabs{
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 88rpx;
    // line-height: 88rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title{
      text-align: center;
      font-size:36rpx;
      font-family:PingFang-SC-Regular;
      font-weight:bold;
      color:#fff;
      flex:1;
      height: 88rpx;
      line-height: 88rpx;
    }
    image{
      width: 50rpx;
      height: 50rpx;
      margin-left: 20rpx;
    }
    .white{
      width: 50rpx;
      height: 50rpx;
      margin-right: 20rpx;
    }
  }
  .detailsList{
    height:100vh;
    .my-details{
      position: relative;
      height:400rpx;
      z-index: 9;
      .img{
        width: 100%;
        height: 400rpx;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 0;
      }
      .rule{
        width: 38rpx;
        height: 38rpx;
        position: absolute;
        top: 149rpx;
        left: 48rpx;
        z-index: 1;
      }
      .details{
        position: absolute;
        top: 190rpx;
        width: 100%;
        display: flex;
        align-items: center;
        view{
          flex: 1;
          text-align: center;
          test{
            display: block;
            &:first-child{
              font-size:26rpx;
              font-family:PingFang-SC-Medium;
              font-weight:500;
              color:#F2F2F2;
            }
            &:last-child{
              font-size:50rpx;
              font-family:PingFang-SC-Medium;
              font-weight:bold;
              color:#FFFFFF;
              margin-top: 50rpx;
            }
          }
        }
      }
    }

    .detailed{
      font-size:34rpx;
      font-family:PingFang-SC-Regular;
      font-weight:bold;
      color:#000000;
      margin-top: 50rpx;
      margin-bottom: 35rpx;
      padding-left: 30rpx;
    }
    .scroll{
      height: calc(100% - 528rpx);
    }
    .list{
      padding: 0 10rpx;
      .items{
        margin-bottom: 15rpx;
        // height: 143rpx;
        padding: 25rpx ;
        border-radius: 10rpx;
        box-shadow:0px 3px 8px 0px rgba(159,186,207,0.1);
        background-color: #fff;
        view{
          display: flex;
          justify-content: space-between;
          align-items: center;
          &:last-child{
            font-size:24rpx;
            font-family:PingFang-SC-Regular;
            font-weight:400;
            color:#666666;
            margin-top: 10rpx;
          }
          test{
            &:first-child{
              font-size:30rpx;
              font-family:PingFang-SC-Medium;
              font-weight:500;
              color:#000000;
            }
            &:last-child{
              font-size:32rpx;
              font-family:PingFang-SC-Regular;
              font-weight:bold;
              color:#FF1717;
            }
          }
        }
      }
    }
  }
  .nothing{
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .box{
      font-size:30rpx;
      font-family:PingFang-SC-Medium;
      font-weight:500;
      color:#A2A2A2;
      text-align: center;
      image{
        width: 221rpx;
        height: 161rpx;
        display: block;
        margin-bottom: 30rpx;
      }
    }
  }

  .proup{
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    .box{
      text-align: center;
      image.errIcon{
        width: 56rpx;
        height: 56rpx;
        margin-top: 30rpx;
      }
      .Exhibition{
        background-color: #fff;
        width: 550rpx;
        // height: 531rpx;
        padding-bottom: 20rpx;
        border-radius: 10rpx;
        text-align: center;
        image{
          width: 281rpx;
          height: 180rpx;
          margin-top: 74rpx;
        }
        .text{
          font-size:32rpx;
          font-family:PingFang-SC-Medium;
          font-weight:500;
          color:rgba(0,0,0,1);
          margin-top: 30rpx;
        }
        .richtext{
          text-align: left;
          font-size:28rpx;
          font-family:PingFang-SC-Medium;
          font-weight:500;
          color:#383838;
          padding: 0 20rpx;
          margin-top: 20rpx;
          line-height:42rpx;
        }
      }
    }
  }
}
