.log-list {
  padding: 15rpx 10rpx;
  background-color: #f7f7f7;
  min-height: 100vh;
  button {
    border: none;
    outline: none;
    background: transparent;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 100%;
    border: none
  }
  .item {
    background-color: #fff;
    width: 100%;
    height: 155rpx;
    padding-top: 30rpx;
    padding-bottom: 30rpx;
    display: flex;
    align-items: center;
    margin-bottom: 13rpx;
    box-shadow: 0rpx 3rpx 8rpx 0rpx rgba(159, 186, 207, 0.1);
    border-radius: 10rpx;
    position: relative;
    padding-left: 20rpx;
    image {
      width: 94rpx;
      height: 94rpx;
    }

    .time {
      position: absolute;
      right: 30rpx;
      top: 26rpx;
      font-size: 22rpx;
      font-family: PingFang-SC-Regular;
      font-weight: 400;
      color: rgba(149, 149, 149, 1);
    }

    .info {
      margin-left: 16rpx;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      overflow: hidden;
      height: 100%;

      .top {
        font-size: 32rpx;
        font-family: PingFang-SC-Regular;
        font-weight: bold;
        color: rgba(0, 0, 0, 1);
      }

      .bottom {
        font-size: 28rpx;
        font-family: PingFang-SC-Regular;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
    }
  }
}