.container{
  min-height: 100vh;
  background-color: #F7F8F8;
  .my-details{
    position: relative;
    height:427rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    .img{
      width: 100%;
      height: 427rpx;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 0;
    }
    .details{
      z-index: 2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20rpx;
      width: 100%;
      .left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .head{
          width: 110rpx;
          height: 110rpx;
          margin-right: 15rpx;
          border-radius: 50%;
        }
        .name{
          view:first-child{
            font-size:34rpx;
            font-family:PingFang-SC-Medium;
            font-weight:bold;
            color:#FFFFFF;
            test{
              display: inline-block;
              width: 100rpx;
              height: 40rpx;
              line-height: 40rpx;
              text-align: center;
              border-radius: 20rpx;
              background-color: #01AF7E;
              font-size: 25rpx;
            }
          }
          view:last-child{
            font-size:28rpx;
            font-family:PingFang-SC-Medium;
            color:#FFFFFF;
          }
        }
      }
      .arrIcon{
        width: 15rpx;
        height: 20rpx;
      }
    }
  }
  .money{
    position: relative;
    z-index: 10;
    width: 710rpx;
    margin: -92rpx auto 0;
    height: 208rpx;
    background-color: #fff;
    border-radius: 10rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    view:first-child,view:last-child{
      flex:1;
      overflow: hidden;
      test{
        display: block;
        text-align: center;
        &:first-child{
          font-size:40rpx;
          font-family:PingFang-SC-Medium;
          font-weight:bold;
          color:#FF2424;
        }
        &:last-child{
          font-size:24rpx;
          font-family:PingFang-SC-Medium;
          font-weight:500;
          color:#656362;
        }
      }
    }
    view:nth-child(2){
      width: 2rpx;
      height: 134rpx;
      background-color: #D4D4D4;
    }
  }
  .ul{
    width: 710rpx;
    margin: 33rpx auto 0;
    background-color: #fff;
    border-radius: 10rpx;
    .li{
      height: 110rpx;
      padding: 0 35rpx;
      border-bottom: 1rpx solid #E4E4E4;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:30rpx;
        font-family:PingFang-SC-Medium;
        font-weight:500;
        color:#000000;
        image{
          margin-right: 15rpx;
        }
      }
      image.arrIcon{
        width: 19rpx;
        height: 31rpx;

      }
      &:last-child{
        border: none;
      }
    }
  }
  .proup{
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    .box{
      text-align: center;
      image.errIcon{
        width: 56rpx;
        height: 56rpx;
        margin-top: 30rpx;
      }
      .Exhibition{
        background-color: #fff;
        width: 590rpx;
        height: 694rpx;
        border-radius: 10rpx;
        text-align: center;
        image{
          width: 373rpx;
          height: 373rpx;
          margin-top: 40rpx;
        }
        .white{
          width: 407rpx;
          height: 36rpx;
          background-color: #EEEEEE;
          border-radius: 50%;
          margin: 0 auto;
        }
        .text{
          font-size:36rpx;
          font-family:PingFang-SC-Medium;
          font-weight:500;
          color:#383838;
          margin-top: 30rpx;
        }
        .btn{
          width:300rpx;
          height:84rpx;
          line-height: 84rpx;
          background:linear-gradient(-90deg,rgba(56,198,160,1) 0%,rgba(109,224,195,1) 100%);
          border-radius:42rpx;
          font-size:36rpx;
          font-family:PingFang-SC-Regular;
          font-weight:bold;
          color:#FFFFFF;
          margin: 40rpx auto 0;
          border: none;
        }
      }
    }
  }
}
