.container{
  min-height: 100vh;
  background-color: #F7F8F8;
  .nothing{
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .box{
      font-size:30rpx;
      font-family:PingFang-SC-Medium;
      font-weight:500;
      color:#A2A2A2;
      text-align: center;
      image{
        width: 221rpx;
        height: 161rpx;
        display: block;
        margin-bottom: 30rpx;
      }
    }
  }
  .recordList{
    padding: 18rpx 15rpx 0;
    .items{
      margin-bottom: 16rpx;
      height: 140rpx;
      background-color: #fff;
      box-shadow:0px 4rpx 6rpx 0px rgba(0, 0, 0, 0.06);
      border-radius:10rpx;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20rpx;
      .left{
        view:first-child{
          font-size:30rpx;
          font-family:PingFang-SC-Medium;
          font-weight:500;
          color:#000000;
        }
        view:last-child{
          font-size:24rpx;
          font-family:PingFang-SC-Regular;
          font-weight:400;
          color:#666666;
          margin-top: 10rpx;
        }
      }
      .right{
        text-align: right;
        view{
          &:first-child{
            font-size:30rpx;
            font-family:PingFang-SC-Regular;
            font-weight:bold;
            color:#000000;
          }
          &:last-child{
            font-size:26rpx;
            font-family:PingFang-SC-Medium;
            font-weight:500;
            color:#666666;
            margin-top: 10rpx;
          }
        }
      }
      .green{
        view:first-child{
          color:#22A864;
        }
        view:last-child{
          color: #22A864;
        }
      }
      .red{
        view:first-child{
          color:#FF536A;
        }
        view:last-child{
          color: #FF2020;
        }
      }
    }
  }
}
